<div class="container">

  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href>Ocrify</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" *ngIf="disabled_order == undefined">
      <h3>Convert a scanned PDF or image file to a searchable PDF or a text file.</h3>
      <h4>Accepted file extensions : pdf,jpg,png,jpeg,webp</h4>
      <h5>Files with any other extension will be ignored.</h5>
    </div>
    <div class="col-md-2" *ngIf="disabled_order == undefined">

      <h3>Select files</h3>

      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
        class="well my-drop-zone">
        Drop Files Here
      </div>

      Multiple
      <input type="file" ng2FileSelect accept="application/pdf,.jpg,.png,.jpeg,.webp" [uploader]="uploader" multiple />
    </div>

    <div class="col-md-10" style="margin-bottom: 40px">

      <h3>Upload queue</h3>
      <p>Files Processed: {{files_processed_count+' / '+uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="item?.options?.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="item?.options?.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div *ngIf="fileStat[item.file.name]?.stat !== 'Ocr not required'" class="progress-bar progress-bar-striped progress-bar-success active"
                  role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width': fileStat[item.file.name]?.progress + '%' }">
                  {{fileStat[item.file.name]?.progress + '%'}}
                </div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess" [ngClass]="{'preocred': fileStat[item.file.name]?.stat === 'Ocr not required' }">{{fileStat[item.file.name]?.stat}}</span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
            </td>

          </tr>
        </tbody>
      </table>

      <div>
        <button *ngIf="disabled_order == undefined && uploader.getNotUploadedItems().length" type="button" class="btn btn-success btn-s"
          (click)="filter_upload()">
                    <span class="glyphicon glyphicon-upload"></span> Start
                </button>
        <button *ngIf="disabled_order === false" type="button" class="btn btn-success btn-s" (click)="_reload()">
                    <span class="glyphicon glyphicon-upload"></span> Start over
                </button>
        <button *ngIf="OldFiles === true && !disabled_order" type="button" class="btn btn-info btn-s" (click)="initDownload()">
                    <span class="glyphicon glyphicon-download"></span> Save files to desktop
                </button>
      </div>

    </div>

  </div>

</div>
